# Terraform

.terraform/

*.tfstate

*.tfstate.*

.terraform.lock.hcl

# Vim temporary files

*.swp

*.swo

*~



# Python cache

__pycache__/

*.pyc



# Docker

*.log

# hide pem file

*.pem

#hide ansible retry files

*.retry
